body {
  height: 100%;
  width: 100%;
  background-color: #f8f7f5;
  font-family: 'Titillium Web', sans-serif;
}
.sidenav {
  position: fixed;
 /* box-shadow: 1px 0px 2px #000;*/
  background-color: transparent;
  float: left;
  width: 10%;
  height: 100%;
  z-index: 2;
  display: inline-flex;
  transition: 0.6s;
}
.sidenav.active {
  width: 40%;
  transition: 0.6s;
}
#realSidenav:hover + #main-aboutme {
  width: 95%;
  transition: width 1s;
}
#sidenav-contents {
  float: left;
 /* background-color: gold;*/
  height: 100%;
  width: 100%;
  padding-top: 20px;
  display: none;
  flex: 2;
  -webkit-transition: width 2s;
  -webkit-transition-timing-function: linear;
  transition: width 2s;
  transition-timing-function: linear;
}
#sidenav-contents.active{
  transition: 0.4s;
  display: block;
}
#menu-panel{
  float: right;
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: 2;
  text-align: center;
  flex: .5;
  border-right: 1px solid #f8f7f5;
}
#ham-menu {
  background: url(../images/noun_683451_cc.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 35px;
  height: 30px;
  /*hamburger menu by Kero from the Noun Project*/
  /*https://thenounproject.com/search/?q=hamburger%20menu&i=683451*/
  margin-top: 10%;
  position: relative;
  left: 15%;
}
#menu-text {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  position: relative;
  top: 45%;
  left: -10%;
}
#main-aboutme{
  position: absolute;
  right: 0;
  background-color: #f1dad0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  color: #bea597 ;
  transition: width 1s;
  /*-webkit-transition: width 1s;
  -moz-transition: width 1s;*/
}
#main-aboutme.active{
  opacity: .1;
  /*width: 50%;*/

}
#header {

}
#main-logo{
  position: absolute;
  top: 2%;
  left: 45%;
  font-size: 30px;
  font-weight: 600;
  border: 2px solid #d8c3b7;
  width: 45px;
  height: 40px;
  padding-left: 5px;
  padding-bottom: 5px;
  position: absolute;
  line-height: 50px;
  box-shadow: inset 0px 0px 20px #d0b9ac;
}

#fb-logo{
 position: absolute;
 top: 2%;
 right: 6.5%;
}
#inst-logo {
  position: absolute;
  top: 2%;
  right: 5%;
}
#about-me-text {
  /*grid-row-end: span 2;*/
  /*height: 100%;*/
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 2% 18% 5px 18%;
  text-align: justify;
  color: #847872;
}
#about-me-img {
  border-radius: 100%;
  box-shadow: 0px 0px 20px #bea597;
  width: 250px;
  height: 250px;
  background: url(../images/me_color.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  float: left;
  margin: 5% 5% 0 0;
  filter: grayscale(80%);
}
.h3-about {
  font-size: 1.8em;
  font-weight: 400;
  margin-top: 5%;
  margin-left: 40%;
  margin-bottom: 4%;
}
.h5-about {
  font-size: 1.1em;
  font-weight: 600;
  margin-left: 40%;
  margin-bottom: 3%;

}
.p-about {
  margin-left: 40%;
  margin-bottom: 3%;
  font-size: 1.1em;
  line-height: 1.8em;
}
